//NAV COLORS
$brand_nav-light: white;
$brand_nav-dark: rgb(30, 28, 36);

// HOME COLORS
$brand_home-light: white;
$brand_home-dark: rgb(34, 37, 44);

// LIST STYLE TYPE COLORS
$brand_primary-light: rgb(0, 216, 255);
$brand_primary-dark: rgb(107, 220, 237);



